<header class="top-header-bar">

  <!-- Hamburger icon (only visible on tablet & mobile) -->
   <div class="menu-section">
  <img
    src="assets/icons/burgermenu.svg"
    alt="menu"
    
    (click)="toggleSidebarMenu()"
  />
</div>


  <!-- Logo -->
  <div class="header-left">
    <div class="logo">
      <img src="assets/icons/gift.png" alt="Showlab Logo" />
    </div>
  </div>

  <!-- Header Title -->
  <div class="header-center">
    <span class="lab-name">Assignment Project</span>
  </div>

</header>
